---
import ConfettiProvider from '../atoms/ConfettiProvider/ConfettiProvider.tsx';
import Hero from "./sections/Hero/Hero.tsx"; 
import Location from "./sections/Location/Location.tsx";
import Accommodations from "./sections/Accommodations/Accommodations.tsx";
import Program from "./sections/Program/Program.tsx";
import RsvpForm from "./sections/RsvpForm/RsvpForm.tsx";
import ToastDispatcher from "../atoms/Toast/ToastDispatcher.tsx";

const { i18n } = Astro.props; 
---

<main className="Home">
    <ToastDispatcher client:load />
    <ConfettiProvider client:load />
    <Hero wording={i18n.hero} client:load />
    <RsvpForm wording={i18n.rsvp} client:load />
    <Program wording={i18n.program} client:load />
    <Location wording={i18n.location} client:load />
    <Accommodations wording={i18n.accommodations} client:load />
</main>
