---
import ToastDispatcher from "../Toast/ToastDispatcher.tsx";
import Hero from "../Hero/Hero.tsx"; 
// import Program from "../Program/Program";
// import Location from "../Location/Location";
// import Lodging from "../Lodging/Lodging";

const { i18n } = Astro.props; 

---

    <main className="Home">
     <ToastDispatcher client:load />
     <Hero wording={i18n.hero} rsvpWording={i18n.rsvp} client:load />
    <!-- <Intro i18n={i18n.intro} />
    <Location i18={i18n.location} />
    <Program i18n={i18n.program} />
    <Lodging i18n={i18n.lodging} />  -->
    </main>
